<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" ng-app="twitterApp">
<head>
<title>Twitter Room demo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js">
</script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap-journal.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/1.0.17/firebase.js"></script>
<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
</head>
<body ng-controller="LatestTweetsController" >
<div class="container">
<div class="row">
	<div class="col-xs-12">
		<h2>{{room_name}}</h2>
	</div>
</div>

<div class="row" id="newUpdateNotice">
	<div class="col-xs-12 col-md-8">
		<p>
			<button type="button" class="btn btn-primary" ng-click="ShowNewTweets()">View {{new_tweet_count}} new updates</button>
		</p>
	</div>
</div>

<div class="row">
	<div id="preloadIndicator" >
		<img src="img/preloader.GIF" >
	</div>
	<div class="col-xs-12 col-md-8">
		<div class="bs-component">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="tweet in tweets | orderBy: '-id' | limitTo: 20">
					<div class="row">
						<div class="tweet_id hidden"> {{tweet.id_str}} </div>
						<div class="col-xs-2 col-md-1">
							<div class="row">
							<div class="col-xs-12">
							<a href="http://twitter.com/{{tweet.user.screen_name}}" 
							title="{{tweet.user.description}}" target="_blank"><img src="{{tweet.user.profile_image_url}}" ></a>		
							</div>
							</div>
						</div>
						<div class="col-xs-10 col-md-11">
							<div class="row">
							<div class="col-xs-12">
								<span class="tweet_name"><strong>{{tweet.user.name}}</strong></span>
								<a href="http://twitter.com/{{tweet.user.screen_name}}" 
								title="{{tweet.user.description}}" target="_blank"><small>@{{tweet.user.screen_name}}</small></a>
							</div>
							</div>
							<div class="row">
							<div class="col-xs-12">
								<span ng-bind-html="tweet.decorated_text"></span>
							</div>
							</div>
							<div class="row">
							<div class="col-xs-12">
								<a href="http://twitter.com/{{tweet.user.screen_name}}/status/{{ tweet.id_str}}"
								title="" target="_blank"><small>{{tweet.timestamp | date:'hh:mm:ss a - dd MMM yyyy'}}</small></a>
							</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<script>
	
	$("#preloadIndicator").hide();
	$("#newUpdateNotice").hide();
	// For todays date;
	Date.prototype.today = function () { 
	    return ((this.getDate() < 10)?"0":"") + this.getDate() +"/"+(((this.getMonth()+1) < 10)?"0":"") + (this.getMonth()+1) +"/"+ this.getFullYear();
	}

	// For the time now
	Date.prototype.timeNow = function () {
	     return ((this.getHours() < 10)?"0":"") + this.getHours() +":"+ ((this.getMinutes() < 10)?"0":"") + this.getMinutes() +":"+ ((this.getSeconds() < 10)?"0":"") + this.getSeconds()  +":"+ ((this.getMilliseconds() < 10)?"0":"") + this.getMilliseconds();
	}

	var twitterApp = angular.module("twitterApp", ["firebase"]);
	var firebaseUrl = "https://dazzling-fire-5952.firebaseio.com";
	var roomId = "Room000001";
	
	function LatestTweetsController($scope, $firebase, $sce) {
		var roomURL = firebaseUrl + "/" + "Rooms" + "/" + roomId ;
		var roomTweetURL = roomURL + "/" + "Tweets";
		var tweetRef = new Firebase(roomTweetURL).limit(20);
		var roomNameURL = roomURL + "/" + "Name";
		var roomNameRef = new Firebase(roomNameURL);
		$scope.tweets = [];
		$scope.new_tweets = [];
		$scope.new_tweet_count = 0;
		$scope.room_name = "";

		$("#preloadIndicator").show();
		console.log("Value Callback registered : " + new Date().timeNow());
		roomNameRef.on("value", function(snapshot) {
			console.log("Value Callback called : " + new Date().timeNow());
			$scope.$apply(function () {
				$scope.room_name = snapshot.val();	
			});
		});

		console.log("Callback registered : " + new Date().timeNow());
		tweetRef.on("child_added", function(snapshot) {
			$scope.$apply(function () {
				$("#preloadIndicator").hide();
				console.log("Callback called : " + new Date().timeNow());
				var tweet = snapshot.val();
				var decorated_text = tweet.text.replace(/#(\S*)/g,'<a href="http://twitter.com/hashtag/$1" target="_blank">#$1</a>');
				decorated_text = decorated_text.replace(/@(\S*)/g,'<a href="http://twitter.com/$1" target="_blank">@$1</a>');
				if (tweet.entities && tweet.entities.urls) {
					urlcount = tweet.entities.urls.length;
					for (i = 0; i < urlcount; i ++) {
						var url = tweet.entities.urls[i].url;
						var displayUrl = tweet.entities.urls[i].display_url;
						var expandedUrl = tweet.entities.urls[i].expanded_url;
						var urllink = "<a href='" + url + "' title='" + expandedUrl + "' target='_blank'>" + displayUrl + "</a>";
						decorated_text = decorated_text.replace(url, urllink);
					}
				}
				tweet.decorated_text = $sce.trustAsHtml(decorated_text);
				var d = new Date(tweet.created_at);
				tweet.timestamp = d.getTime();
				
				if ($scope.tweets.length < 20) {
					$scope.tweets.push(tweet);
				} else {
					$scope.new_tweets.push(tweet);
					$scope.new_tweet_count = $scope.new_tweet_count + 1;	
					$("#newUpdateNotice").show();
				}

				if ($scope.tweets.length > 100) {
					$scope.tweets.pop();
				}
			});
		});

		$scope.ShowNewTweets = function () {
			console.log("Show more tweets clicked");
			$("#newUpdateNotice").hide();
			$scope.new_tweet_count = 0;

			while ( tweet = $scope.new_tweets.pop() ) {
				console.log("Moving tweet from new_tweets to tweets " + tweet.text);
				$scope.tweets.push(tweet);
				if ($scope.tweets.length > 100) {
					$scope.tweets.pop();
				}
			}
		}

	};
	
	twitterApp.controller('LatestTweetsController', LatestTweetsController);
</script>

</body>
</html>
